.form-label {
    color: blueviolet;
}
 h2 {
    color: blueviolet;
}

.btn-primary{
    background-color: blueviolet;
    border-color: blueviolet;
}

.btn-primary:hover{
    background-color: purple;
    border-color: purple;
}

